# World's Real Estate Data Analysis - Data Preprocessing

This notebook performs data preprocessing on the world's real estate dataset. The recommended preprocessing steps and order are:
1. Data Loading, Defining Data Types and Quality Check
2. Data Type Conversions
3. Handling Missing Values
4. Feature Engineering

# 1. Data Loading, Defining Data Types and Quality Check

Let's start by loading the dataset and examining its basic properties:
- Shape (number of objects and attributes)
- First few records
- Last few records
- Data information (data types and non-null counts)
- Basic statistics
- Missing value analysis
- Check for duplicates

In [607]:
import pandas as pd

df = pd.read_csv("data/world_real_estate_data.csv")

In [608]:
df.shape

(147536, 14)

In [609]:
df.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [610]:
df.tail()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
147531,"5 room apartment 310 m² in Gazipasa, Turkey",Turkey,"Mediterranean Region, Gazipasa, Turkey",NaN,NaN,NaN,NaN,5.0,NaN,310 m²,NaN,597810.0,https://realting.com/uploads/bigSlider/e4a/67f...,https://realting.com/property-for-sale/turkey/...
147532,"4 room apartment 192 m² in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",2023.0,5.0,NaN,5.0,4.0,2.0,192 m²,151 m²,637195.0,https://realting.com/uploads/bigSlider/93e/5c6...,https://realting.com/property-for-sale/turkey/...
147533,"2 room apartment in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",NaN,NaN,NaN,3.0,2.0,2.0,NaN,84 m²,477146.0,https://realting.com/uploads/bigSlider/4ae/9d8...,https://realting.com/property-for-sale/turkey/...
147534,"Apartment in Akarca, Turkey",Turkey,"Akarca, Central Anatolia Region, Turkey",2023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,819163.0,https://realting.com/uploads/bigSlider/164/7e6...,https://realting.com/property-for-sale/turkey/...
147535,"4 room apartment 140 m² in, Turkey",Turkey,Turkey,NaN,2.0,NaN,5.0,4.0,NaN,140 m²,NaN,939164.0,https://realting.com/uploads/bigSlider/fab/0eb...,https://realting.com/property-for-sale/turkey/...

In [611]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB

In [612]:
df.isnull().sum()

title                              0
country                          130
location                         131
building_construction_year     82817
building_total_floors          79312
apartment_floor                92944
apartment_rooms                73358
apartment_bedrooms            110554
apartment_bathrooms            91563
apartment_total_area            5740
apartment_living_area         119824
price_in_USD                    2575
image                              0
url                                0
dtype: int64

In [613]:
(df.isnull().sum() / df.shape[0] * 100).sort_values(ascending=False)

apartment_living_area         81.216788
apartment_bedrooms            74.933576
apartment_floor               62.997506
apartment_bathrooms           62.061463
building_construction_year    56.133418
building_total_floors         53.757727
apartment_rooms               49.722102
apartment_total_area           3.890576
price_in_USD                   1.745337
location                       0.088792
country                        0.088114
title                          0.000000
image                          0.000000
url                            0.000000
dtype: float64

In [614]:
df.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,price_in_USD
count,64719.000000,68224.000000,54592.000000,74178.000000,36982.000000,55973.000000,1.449610e+05
mean,1996.921754,8.575692,5.791709,2.572097,2.289222,1.364229,4.121722e+05
std,157.527635,8.356781,5.541368,1.319545,18.276913,0.745019,8.420984e+05
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,0.000000e+00
25%,2004.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.054200e+05
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.902120e+05
75%,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,3.989300e+05
max,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,3.060283e+07

In [615]:
df.describe(include='all')

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
count,147536,147406,147405,64719.000000,68224.000000,54592.000000,74178.000000,36982.000000,55973.000000,141796,27712,1.449610e+05,147536,147536
unique,78292,27,7445,NaN,NaN,NaN,NaN,NaN,NaN,1492,641,NaN,113753,147536
top,"1 room apartment 24 m² in poselenie Sosenskoe,...",Turkey,"Mediterranean Region, Sekerhane Mahallesi, Ala...",NaN,NaN,NaN,NaN,NaN,NaN,100 m²,30 m²,NaN,https://realting.com/uploads/bigSlider/9b9/e2b...,https://realting.com/property-for-sale/turkey/...
freq,486,25724,7244,NaN,NaN,NaN,NaN,NaN,NaN,2468,888,NaN,1219,1
mean,NaN,NaN,NaN,1996.921754,8.575692,5.791709,2.572097,2.289222,1.364229,NaN,NaN,4.121722e+05,NaN,NaN
std,NaN,NaN,NaN,157.527635,8.356781,5.541368,1.319545,18.276913,0.745019,NaN,NaN,8.420984e+05,NaN,NaN
min,NaN,NaN,NaN,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,2004.000000,2.000000,2.000000,2.000000,1.000000,1.000000,NaN,NaN,1.054200e+05,NaN,NaN
50%,NaN,NaN,NaN,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,NaN,NaN,1.902120e+05,NaN,NaN
75%,NaN,NaN,NaN,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,NaN,NaN,3.989300e+05,NaN,NaN
max,NaN,NaN,NaN,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,NaN,NaN,3.060283e+07,NaN,NaN

In [616]:
df.duplicated().sum()

0

In [617]:
df['url'].duplicated().sum()

0

In [618]:
cleaned_df = df.copy()

# 2. Data Type Conversion

Clean and standardize area-related columns:
- Convert area values from string to numeric format
- Remove 'm²' suffix
- Handle different decimal separators (comma vs period)
- Remove whitespace
- Convert to numeric values

Convert other columns:
- Objects that are just strings
- Columns with repeated nominal values can be set as categories
- Numeric columns that are already numeric but need nullable integer type

In [619]:
cleaned_df["apartment_total_area"] = (
    cleaned_df["apartment_total_area"]
    .astype(str)
    .str.replace("m²", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.replace(r"\s+", "", regex=True)
    .str.strip()
)

cleaned_df["apartment_total_area"] = pd.to_numeric(cleaned_df["apartment_total_area"], errors="coerce")

In [620]:
cleaned_df["apartment_living_area"] = (
    cleaned_df["apartment_living_area"]
    .astype(str)
    .str.replace("m²", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.replace(r"\s+", "", regex=True)
    .str.strip()
)

cleaned_df["apartment_living_area"] = pd.to_numeric(cleaned_df["apartment_living_area"], errors="coerce")

In [621]:
text_cols = ["title", "image", "url"]

for col in text_cols:
    cleaned_df[col] = cleaned_df[col].astype("string").str.strip()

In [622]:
print(df['country'].nunique())
print(df['location'].nunique())

27
7445

In [623]:
categorical_cols = ['country', 'location']
cleaned_df[categorical_cols] = cleaned_df[categorical_cols].astype('category')

In [624]:
int_cols = [
    'building_construction_year',
    'building_total_floors',
    'apartment_floor',
    'apartment_rooms',
    'apartment_bedrooms',
    'apartment_bathrooms'
]

for col in int_cols:
    cleaned_df[col] = pd.to_numeric(cleaned_df[col], errors='coerce').astype('Int64')

In [625]:
cleaned_df.dtypes

title                         string[python]
country                             category
location                            category
building_construction_year             Int64
building_total_floors                  Int64
apartment_floor                        Int64
apartment_rooms                        Int64
apartment_bedrooms                     Int64
apartment_bathrooms                    Int64
apartment_total_area                 float64
apartment_living_area                float64
price_in_USD                         float64
image                         string[python]
url                           string[python]
dtype: object

# 3. Handle Missing Values

In [626]:
import re

def extract_room_info(title):
    bedrooms = None
    rooms = None

    bed_match = re.search(r'(\d+)\s*(bedroom|bedrooms|br)', title, re.IGNORECASE)
    if bed_match:
        bedrooms = int(bed_match.group(1))

    room_match = re.search(r'(\d+)\s*(?<!bed)room[s]?', title, re.IGNORECASE)
    if room_match:
        rooms = int(room_match.group(1))

    return bedrooms, rooms


for i, title in enumerate(cleaned_df["title"]):
    bed, room = extract_room_info(title)

    if pd.isna(cleaned_df.at[i, "apartment_bedrooms"]) and bed is not None:
        cleaned_df.at[i, "apartment_bedrooms"] = bed

    if pd.isna(cleaned_df.at[i, "apartment_rooms"]) and room is not None:
        cleaned_df.at[i, "apartment_rooms"] = room

print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  string
 1   country                     147406 non-null  category
 2   location                    147405 non-null  category
 3   building_construction_year  64719 non-null   Int64
 4   building_total_floors       68224 non-null   Int64
 5   apartment_floor             54592 non-null   Int64
 6   apartment_rooms             120715 non-null  Int64
 7   apartment_bedrooms          40880 non-null   Int64
 8   apartment_bathrooms         55973 non-null   Int64
 9   apartment_total_area        141796 non-null  float64
 10  apartment_living_area       27712 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  string
 13  url                         147536 non-null  string
dtypes: Int64(6), category(2), float64(3), string(3)
memory usage: 15.1 MB
None

In [627]:
cleaned_df["apartment_total_area"] = cleaned_df["apartment_total_area"].fillna(
    cleaned_df["apartment_total_area"].median()
)

cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  string
 1   country                     147406 non-null  category
 2   location                    147405 non-null  category
 3   building_construction_year  64719 non-null   Int64
 4   building_total_floors       68224 non-null   Int64
 5   apartment_floor             54592 non-null   Int64
 6   apartment_rooms             120715 non-null  Int64
 7   apartment_bedrooms          40880 non-null   Int64
 8   apartment_bathrooms         55973 non-null   Int64
 9   apartment_total_area        147536 non-null  float64
 10  apartment_living_area       27712 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  string
 13  url                         147536 non-null  string
dtypes: Int64(6), category(2), float64(3), string(3)
memory usage: 15.1 MB

In [628]:
cleaned_df.dropna(subset=['price_in_USD'], inplace=True)

In [629]:
import re

country_list = cleaned_df['country'].dropna().unique()

country_pattern = re.compile('|'.join(country_list), flags=re.IGNORECASE)

def extract_country(row):
    for field in ['title', 'location', 'url']:
        text = str(row[field])
        match = country_pattern.search(text)
        if match:
            return match.group(0).title()
    return None

missing_mask = cleaned_df['country'].isna()
print(f"Rows with missing country before: {missing_mask.sum()}")

cleaned_df.loc[missing_mask, 'detected_country'] = cleaned_df[missing_mask].apply(extract_country, axis=1)

found = cleaned_df[cleaned_df['detected_country'].notna()]
print(f"Detected {len(found)} countries from text patterns.\n")

cleaned_df['country'] = cleaned_df['country'].fillna(cleaned_df['detected_country'])

cleaned_df.drop(columns=['detected_country'], inplace=True)

print("Missing countries after detection:", cleaned_df['country'].isna().sum())

Rows with missing country before: 130
Detected 130 countries from text patterns.

Missing countries after detection: 0

In [630]:
cleaned_df['location'] = (
    cleaned_df.groupby('country', observed=False)['location']
    .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
)

print("Missing location after imputation:", cleaned_df['location'].isna().sum())
print("Unknown location:", cleaned_df['location'].eq('Unknown').sum())

Missing location after imputation: 0
Unknown location: 0

In [631]:
cleaned_df["apartment_rooms"] = cleaned_df["apartment_rooms"].fillna(
    cleaned_df["apartment_rooms"].median()
)

cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  string
 1   country                     144961 non-null  category
 2   location                    144961 non-null  category
 3   building_construction_year  64296 non-null   Int64
 4   building_total_floors       67585 non-null   Int64
 5   apartment_floor             54129 non-null   Int64
 6   apartment_rooms             144961 non-null  Int64
 7   apartment_bedrooms          40447 non-null   Int64
 8   apartment_bathrooms         55788 non-null   Int64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  string
 13  url                         144961 non-null  string
dtypes: Int64(6), category(2), float64(3), string(3)
memory usage: 15.9 MB

In [632]:
import pandas as pd
import numpy as np

def fill_year(group):
    if group.notna().any():
        return group.fillna(group.median())
    else:
        return group

cleaned_df['building_construction_year'] = (
    cleaned_df.groupby('country', observed=False)['building_construction_year']
    .transform(fill_year)
)

cleaned_df['building_construction_year'] = cleaned_df['building_construction_year'].fillna(
    cleaned_df['building_construction_year'].median()
)

# 4. Feature Engineering

Extract property types from listing titles using regex patterns:
- Identify common property types (apartment, house, villa, etc.)
- Create a new 'property_type' column
- Handle edge cases and refine categorization
- Analyze distribution of property types

In [633]:
cleaned_df[['apartment_rooms', 'apartment_bedrooms', 'apartment_bathrooms', 'apartment_total_area', 'price_in_USD']].corr()

,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
apartment_rooms,1.000000,0.093735,0.417476,0.001588,0.304530
apartment_bedrooms,0.093735,1.000000,0.048138,0.001083,0.024525
apartment_bathrooms,0.417476,0.048138,1.000000,0.016037,0.419841
apartment_total_area,0.001588,0.001083,0.016037,1.000000,0.002207
price_in_USD,0.304530,0.024525,0.419841,0.002207,1.000000

In [634]:
import re

def extract_property_type(title):
    title_lower = str(title).lower()

    patterns = {
        'apartment': r'\b(apartment|apartments|flat|flats|condo|condos|duplex|duplexes|penthouse|penthouses)\b',
        'studio': r'\bstudio[s]?\b',
        'house': r'\b(house|houses|mansion|mansions|bungalow|bungalows|cottage|cottages|townhouse|townhouses)\b',
        'villa': r'\bvilla[s]?\b',
        'land': r'\b(plot|plots|land)\b',
        'office': r'\boffice[s]?\b',
        'commercial': r'\b(commercial|shop|shops|store|stores|warehouse|warehouses)\b'
    }

    for prop_type, pattern in patterns.items():
        if re.search(pattern, title_lower):
            return prop_type
    return 'other'

cleaned_df['property_type'] = cleaned_df['title'].apply(extract_property_type)
cleaned_df['property_type'].value_counts()

property_type
apartment    97212
house        37545
villa        10026
other          178
Name: count, dtype: int64

In [635]:
cols = cleaned_df.columns.tolist()

cols.remove('property_type')

title_index = cols.index('title') + 1
cols.insert(title_index, 'property_type')

cleaned_df = cleaned_df[cols]

cleaned_df.head()

,title,property_type,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,apartment,Turkey,"Mediterranean Region, Turkey",2023,5,1,3,2,2,120.0,110.0,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",villa,Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021,2,<NA>,4,<NA>,<NA>,500.0,480.0,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",apartment,Turkey,"Mediterranean Region, Antalya, Turkey",2023,5,2,2,1,1,65.0,60.0,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",apartment,Thailand,"Chon Buri Province, Pattaya, Thailand",2020,15,5,2,1,1,89.0,40.0,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",apartment,Thailand,"Chon Buri Province, Pattaya, Thailand",2026,8,3,3,2,1,89.0,36.0,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [636]:
other_listings = cleaned_df[cleaned_df['property_type'] == 'other']
other_listings[['title', 'country', 'location', 'apartment_rooms', 'apartment_floor', 'apartment_bedrooms', 'apartment_bathrooms']]

,title,country,location,apartment_rooms,apartment_floor,apartment_bedrooms,apartment_bathrooms
4101,"Room 4 bedrooms 277 m² in Turkey, Turkey",Turkey,Turkey,5,<NA>,4,4
5861,"Room 3 bedrooms 235 m² in Turkey, Turkey",Turkey,Turkey,4,<NA>,3,3
6840,"Room 3 bedrooms in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",4,<NA>,3,3
7047,"Room 1 bedroom 91 m² in Turkey, Turkey",Turkey,Turkey,2,<NA>,1,1
15294,"Room 2 bedrooms 170 m² in Turkey, Turkey",Turkey,Turkey,3,<NA>,2,2
...,...,...,...,...,...,...,...
140970,"54 m² in Suhobezvodnoe, Russia",Russia,"Suhobezvodnoe, Volga Federal District, Semenov...",3,<NA>,<NA>,<NA>
140971,"76 m² in Sergach, Russia",Russia,"Sergach, Volga Federal District, Sergachsky Di...",3,<NA>,<NA>,<NA>
141088,"169 m² in Nizhny Novgorod, Russia",Russia,"Volga Federal District, Nizhny Novgorod, Russia",3,<NA>,<NA>,<NA>
144199,"Room 4 rooms 97 m² in Tashkent, Uzbekistan",Uzbekistan,"Tashkent, Uzbekistan",4,2,<NA>,<NA>
146534,"Castle 20 rooms 1 214 m² in Bela, Croatia",Croatia,"Bela, Grad Novi Marof, Varaždin County, Croatia",20,<NA>,<NA>,<NA>

In [637]:
other_listings = cleaned_df[cleaned_df['property_type'] == 'other']
other_listings[['title', 'country', 'location', 'apartment_rooms', 'apartment_floor', 'apartment_bedrooms', 'apartment_bathrooms']]

,title,country,location,apartment_rooms,apartment_floor,apartment_bedrooms,apartment_bathrooms
4101,"Room 4 bedrooms 277 m² in Turkey, Turkey",Turkey,Turkey,5,<NA>,4,4
5861,"Room 3 bedrooms 235 m² in Turkey, Turkey",Turkey,Turkey,4,<NA>,3,3
6840,"Room 3 bedrooms in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",4,<NA>,3,3
7047,"Room 1 bedroom 91 m² in Turkey, Turkey",Turkey,Turkey,2,<NA>,1,1
15294,"Room 2 bedrooms 170 m² in Turkey, Turkey",Turkey,Turkey,3,<NA>,2,2
...,...,...,...,...,...,...,...
140970,"54 m² in Suhobezvodnoe, Russia",Russia,"Suhobezvodnoe, Volga Federal District, Semenov...",3,<NA>,<NA>,<NA>
140971,"76 m² in Sergach, Russia",Russia,"Sergach, Volga Federal District, Sergachsky Di...",3,<NA>,<NA>,<NA>
141088,"169 m² in Nizhny Novgorod, Russia",Russia,"Volga Federal District, Nizhny Novgorod, Russia",3,<NA>,<NA>,<NA>
144199,"Room 4 rooms 97 m² in Tashkent, Uzbekistan",Uzbekistan,"Tashkent, Uzbekistan",4,2,<NA>,<NA>
146534,"Castle 20 rooms 1 214 m² in Bela, Croatia",Croatia,"Bela, Grad Novi Marof, Varaždin County, Croatia",20,<NA>,<NA>,<NA>

# 5. Dimensionality Reduction and Handle more missing values

In [638]:
cleaned_df.isnull().sum()

title                              0
property_type                      0
country                            0
location                           0
building_construction_year         0
building_total_floors          77376
apartment_floor                90832
apartment_rooms                    0
apartment_bedrooms            104514
apartment_bathrooms            89173
apartment_total_area               0
apartment_living_area         117769
price_in_USD                       0
image                              0
url                                0
dtype: int64

In [639]:
cleaned_df.groupby('property_type')[['apartment_rooms',
'apartment_bedrooms', 'apartment_bathrooms']].median()

               apartment_rooms  apartment_bedrooms  apartment_bathrooms
property_type
apartment                  3.0                 2.0                  1.0
house                      3.0                 3.0                 <NA>
other                      3.0                 3.0                  2.0
villa                      4.0                 7.0                 <NA>

In [640]:
cleaned_df.groupby('property_type')[['apartment_rooms', 'apartment_bedrooms', 'apartment_bathrooms']].agg(['count', 'median'])

              apartment_rooms        apartment_bedrooms         \
                        count median              count median
property_type
apartment               97212    3.0              37291    2.0
house                   37545    3.0               2727    3.0
other                     178    3.0                 87    3.0
villa                   10026    4.0                342    7.0

              apartment_bathrooms
                            count median
property_type
apartment                   55775    1.0
house                           0   <NA>
other                          13    2.0
villa                           0   <NA>

In [ ]:
for col in ['apartment_bedrooms', 'apartment_bathrooms']:
    df[col] = df.groupby('property_type')[col].transform(
        lambda x: x.fillna(x.median() if not x.isna().all() else None)
    )

for col in ['apartment_bedrooms', 'apartment_bathrooms']:
    cleaned_df[col] = cleaned_df[col].fillna(cleaned_df[col].median())

cleaned_df.isnull().sum()

cleaned_df[['apartment_bedrooms', 'apartment_bathrooms']].describe()

c:\Users\Festina\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
c:\Users\Festina\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

       apartment_bedrooms  apartment_bathrooms
count            144961.0             144961.0
mean             2.697312             1.141335
std              9.319174             0.496082
min                  -1.0                  1.0
25%                   2.0                  1.0
50%                   2.0                  1.0
75%                   3.0                  1.0
max                2009.0                 43.0

In [642]:
cleaned_df.drop(columns=['image', 'url', 'apartment_living_area'], inplace=True, errors='ignore')

In [643]:
cleaned_df.isnull().sum()

title                             0
property_type                     0
country                           0
location                          0
building_construction_year        0
building_total_floors         77376
apartment_floor               90832
apartment_rooms                   0
apartment_bedrooms                0
apartment_bathrooms               0
apartment_total_area              0
price_in_USD                      0
dtype: int64

In [644]:
import numpy as np

cleaned_df['building_total_floors'] = cleaned_df.groupby('property_type')['building_total_floors'] \
                                 .transform(lambda x: x.fillna(x.median()))

cleaned_df['apartment_floor'] = cleaned_df.groupby('property_type')['apartment_floor'] \
                          .transform(lambda x: x.fillna(x.median()))

cleaned_df['apartment_floor'] = np.minimum(cleaned_df['apartment_floor'], cleaned_df['building_total_floors'])


print(cleaned_df[['property_type', 'building_total_floors', 'apartment_floor']].info())
print(cleaned_df[['property_type', 'building_total_floors', 'apartment_floor']].head(10))

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   property_type          144961 non-null  object
 1   building_total_floors  144961 non-null  Int64
 2   apartment_floor        144961 non-null  Int64
dtypes: Int64(2), object(1)
memory usage: 4.7+ MB
None
  property_type  building_total_floors  apartment_floor
0     apartment                      5                1
1         villa                      2                1
2     apartment                      5                2
3     apartment                     15                5
4     apartment                      8                3
5     apartment                      9                4
6     apartment                      2                2
7     apartment                      8                2
8     apartment                      9                4
9     apartment                     16               12

In [645]:
cleaned_df.isnull().sum()

title                         0
property_type                 0
country                       0
location                      0
building_construction_year    0
building_total_floors         0
apartment_floor               0
apartment_rooms               0
apartment_bedrooms            0
apartment_bathrooms           0
apartment_total_area          0
price_in_USD                  0
dtype: int64

In [646]:
cleaned_df['price_per_m2'] = cleaned_df['price_in_USD'] / cleaned_df['apartment_total_area']

In [647]:
country_summary = (
    cleaned_df.groupby('country', observed=False)
    .agg(
        avg_area_m2=('apartment_total_area', 'mean'),
        avg_price_per_m2=('price_per_m2', 'mean'),
        total_listings=('price_in_USD', 'count')
    )
    .reset_index()
    .sort_values(by='avg_price_per_m2', ascending=False)
)

print("\nAverage Property Prices by Country")
print(country_summary.head(10))

Average Property Prices by Country
           country  avg_area_m2  avg_price_per_m2  total_listings
12           Italy  1178.930759      13048.604977            3004
18        Portugal   598.666191       7987.657465            2103
24             UAE   194.192595       7131.131627            2674
21           Spain   279.776193       5712.380879           14937
4          Croatia   310.241481       5010.982371            2025
1        Australia   120.000000       4658.333333               1
6   Czech Republic    74.228301       4480.008259            1371
2          Austria  8880.586207       4474.945977             232
15      Montenegro  3887.891929       4199.445690           10308
25   United States   399.497585       3815.655221             414