In [164]:
import pandas as pd

df = pd.read_csv("data/world_real_estate_data.csv")

df.shape

(147536, 14)

In [165]:
df.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [166]:
df.tail()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
147531,"5 room apartment 310 m² in Gazipasa, Turkey",Turkey,"Mediterranean Region, Gazipasa, Turkey",NaN,NaN,NaN,NaN,5.0,NaN,310 m²,NaN,597810.0,https://realting.com/uploads/bigSlider/e4a/67f...,https://realting.com/property-for-sale/turkey/...
147532,"4 room apartment 192 m² in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",2023.0,5.0,NaN,5.0,4.0,2.0,192 m²,151 m²,637195.0,https://realting.com/uploads/bigSlider/93e/5c6...,https://realting.com/property-for-sale/turkey/...
147533,"2 room apartment in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",NaN,NaN,NaN,3.0,2.0,2.0,NaN,84 m²,477146.0,https://realting.com/uploads/bigSlider/4ae/9d8...,https://realting.com/property-for-sale/turkey/...
147534,"Apartment in Akarca, Turkey",Turkey,"Akarca, Central Anatolia Region, Turkey",2023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,819163.0,https://realting.com/uploads/bigSlider/164/7e6...,https://realting.com/property-for-sale/turkey/...
147535,"4 room apartment 140 m² in, Turkey",Turkey,Turkey,NaN,2.0,NaN,5.0,4.0,NaN,140 m²,NaN,939164.0,https://realting.com/uploads/bigSlider/fab/0eb...,https://realting.com/property-for-sale/turkey/...

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB

In [168]:
df.describe(include='all')

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
count,147536,147406,147405,64719.000000,68224.000000,54592.000000,74178.000000,36982.000000,55973.000000,141796,27712,1.449610e+05,147536,147536
unique,78292,27,7445,NaN,NaN,NaN,NaN,NaN,NaN,1492,641,NaN,113753,147536
top,"1 room apartment 24 m² in poselenie Sosenskoe,...",Turkey,"Mediterranean Region, Sekerhane Mahallesi, Ala...",NaN,NaN,NaN,NaN,NaN,NaN,100 m²,30 m²,NaN,https://realting.com/uploads/bigSlider/9b9/e2b...,https://realting.com/property-for-sale/turkey/...
freq,486,25724,7244,NaN,NaN,NaN,NaN,NaN,NaN,2468,888,NaN,1219,1
mean,NaN,NaN,NaN,1996.921754,8.575692,5.791709,2.572097,2.289222,1.364229,NaN,NaN,4.121722e+05,NaN,NaN
std,NaN,NaN,NaN,157.527635,8.356781,5.541368,1.319545,18.276913,0.745019,NaN,NaN,8.420984e+05,NaN,NaN
min,NaN,NaN,NaN,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,2004.000000,2.000000,2.000000,2.000000,1.000000,1.000000,NaN,NaN,1.054200e+05,NaN,NaN
50%,NaN,NaN,NaN,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,NaN,NaN,1.902120e+05,NaN,NaN
75%,NaN,NaN,NaN,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,NaN,NaN,3.989300e+05,NaN,NaN
max,NaN,NaN,NaN,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,NaN,NaN,3.060283e+07,NaN,NaN

In [169]:
df.isnull().sum()

title                              0
country                          130
location                         131
building_construction_year     82817
building_total_floors          79312
apartment_floor                92944
apartment_rooms                73358
apartment_bedrooms            110554
apartment_bathrooms            91563
apartment_total_area            5740
apartment_living_area         119824
price_in_USD                    2575
image                              0
url                                0
dtype: int64

In [170]:
(df.isnull().sum() / df.shape[0] * 100).sort_values(ascending=False)

apartment_living_area         81.216788
apartment_bedrooms            74.933576
apartment_floor               62.997506
apartment_bathrooms           62.061463
building_construction_year    56.133418
building_total_floors         53.757727
apartment_rooms               49.722102
apartment_total_area           3.890576
price_in_USD                   1.745337
location                       0.088792
country                        0.088114
title                          0.000000
image                          0.000000
url                            0.000000
dtype: float64

In [171]:
df.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,price_in_USD
count,64719.000000,68224.000000,54592.000000,74178.000000,36982.000000,55973.000000,1.449610e+05
mean,1996.921754,8.575692,5.791709,2.572097,2.289222,1.364229,4.121722e+05
std,157.527635,8.356781,5.541368,1.319545,18.276913,0.745019,8.420984e+05
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,0.000000e+00
25%,2004.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.054200e+05
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.902120e+05
75%,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,3.989300e+05
max,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,3.060283e+07

In [172]:
df.duplicated().sum()

0

In [173]:
cleaned_df = df.copy()

cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB

In [174]:
cleaned_df["apartment_total_area"] = (
    cleaned_df["apartment_total_area"]
    .astype(str)
    .str.replace("m²", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.replace(r"\s+", "", regex=True)
    .str.strip()
)

cleaned_df["apartment_total_area"] = pd.to_numeric(cleaned_df["apartment_total_area"], errors="coerce")

In [175]:
cleaned_df["apartment_living_area"] = (
    cleaned_df["apartment_living_area"]
    .astype(str)
    .str.replace("m²", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.replace(r"\s+", "", regex=True)
    .str.strip()
)

cleaned_df["apartment_living_area"] = pd.to_numeric(cleaned_df["apartment_living_area"], errors="coerce")

cleaned_df.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120.0,110.0,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500.0,480.0,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65.0,60.0,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40.0,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36.0,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [176]:
cleaned_df["apartment_total_area"] = cleaned_df["apartment_total_area"].fillna(
    cleaned_df["apartment_total_area"].median()
)

cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        147536 non-null  float64
 10  apartment_living_area       27712 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(9), object(5)
memory usage: 15.8+ MB

In [177]:
cleaned_df['country'] = cleaned_df['country'].astype('category')
cleaned_df['location'] = cleaned_df['location'].astype('category')

cleaned_df.info()
cleaned_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  category
 2   location                    147405 non-null  category
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        147536 non-null  float64
 10  apartment_living_area       27712 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: category(2), float64(9), object(3)
memory usage: 14.2+ MB

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120.0,110.0,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500.0,480.0,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65.0,60.0,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,89.0,40.0,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,89.0,36.0,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [178]:
cleaned_df = cleaned_df.dropna(subset=['price_in_USD'])

cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144831 non-null  category
 2   location                    144830 non-null  category
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             73611 non-null   float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: category(2), float64(9), object(3)
memory usage: 15.1+ MB

In [179]:
import re

def extract_rooms(title):

    match = re.search(r'(\d+)\s*(bedroom|room|br)', title, re.IGNORECASE)
    if match:
        return int(match.group(1))
    return None  

cleaned_df["apartment_rooms"] = cleaned_df['title'].apply(extract_rooms)
print(cleaned_df.info())
cleaned_df.head(15)

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144831 non-null  category
 2   location                    144830 non-null  category
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             124108 non-null  float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: category(2), float64(9), object(3)
memory usage: 15.1+ MB
None

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,2.0,2.0,2.0,120.0,110.0,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,4.0,NaN,NaN,500.0,480.0,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,1.0,1.0,1.0,65.0,60.0,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,1.0,1.0,1.0,89.0,40.0,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,2.0,2.0,1.0,89.0,36.0,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...
5,"1 room apartment 28 m² in Batumi, Georgia",Georgia,"Abkhazia, Batumi, Georgia",2026.0,NaN,NaN,1.0,NaN,1.0,28.0,NaN,35622.0,https://realting.com/uploads/bigSlider/16f/406...,https://realting.com/property-for-sale/georgia...
6,"4 room apartment 245 m² in Yesiloez, Turkey",Turkey,"Yesiloez, Mediterranean Region, Alanya, Turkey",2007.0,2.0,3.0,4.0,4.0,4.0,245.0,245.0,274415.0,https://realting.com/uploads/bigSlider/9c8/6f1...,https://realting.com/property-for-sale/turkey/...
7,"1 room studio apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,2.0,1.0,1.0,1.0,89.0,25.0,44700.0,https://realting.com/uploads/bigSlider/b50/f4b...,https://realting.com/property-for-sale/thailan...
8,Apartment 1 bathroom 74 m² in Ratisevina-Susce...,Montenegro,"Ratisevina-Suscepan-Trebesin, Herceg Novi, Mon...",NaN,NaN,NaN,NaN,NaN,1.0,74.0,NaN,168881.0,https://realting.com/uploads/bigSlider/dd6/fa8...,https://realting.com/property-for-sale/montene...
9,"1 room apartment 50 m² in Becici, Montenegro",Montenegro,"Becici, Sveti Stefan, Budva Municipality, Mont...",NaN,16.0,12.0,1.0,1.0,1.0,50.0,NaN,254404.0,https://realting.com/uploads/bigSlider/820/d3f...,https://realting.com/property-for-sale/montene...
10,"Penthouse 1 bedroom 96 m² in Kyrenia, Northern...",Northern Cyprus,"Kyrenia, Girne (Kyrenia) District, Northern Cy...",2027.0,1.0,NaN,1.0,1.0,2.0,96.0,86.0,199268.0,https://realting.com/uploads/bigSlider/025/e2c...,https://realting.com/property-for-sale/norther...
11,"Apartment 48 m² in Herceg Novi, Montenegro",Montenegro,"Herceg Novi, Montenegro",NaN,4.0,4.0,NaN,NaN,NaN,48.0,NaN,297706.0,https://realting.com/uploads/bigSlider/18c/290...,https://realting.com/property-for-sale/montene...
12,"5 room house 312 m² in Vilnius, Lithuania",Lithuania,"Vilnius County, Vilnius, Vilnius city municipa...",NaN,2.0,NaN,5.0,NaN,NaN,312.0,NaN,693045.0,https://realting.com/uploads/bigSlider/505/e19...,https://realting.com/property-for-sale/lithuan...
13,"Cottage 555 m² in Haranski sielski Saviet, Bel...",Belarus,"Minsk Region, Haranski sielski Saviet, Minsk D...",2017.0,3.0,NaN,NaN,NaN,NaN,555.0,NaN,295000.0,https://realting.com/uploads/bigSlider/1c6/9af...,https://realting.com/property-for-sale/belarus...
14,"1 room studio apartment 38 m² in UAE, UAE",UAE,UAE,2024.0,6.0,NaN,1.0,1.0,1.0,38.0,38.0,97930.0,https://realting.com/uploads/bigSlider/6e3/0b5...,https://realting.com/property-for-sale/united-...

In [180]:
cleaned_df["apartment_rooms"] = pd.to_numeric(cleaned_df["apartment_rooms"], errors="coerce")

cleaned_df["apartment_rooms"] = cleaned_df["apartment_rooms"].fillna(
    cleaned_df["apartment_rooms"].median()
)
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144831 non-null  category
 2   location                    144830 non-null  category
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             144961 non-null  float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: category(2), float64(9), object(3)
memory usage: 15.1+ MB
None

In [181]:
cleaned_df['country'] = cleaned_df['country'].fillna(cleaned_df['country'].mode()[0])
cleaned_df['location'] = (
    cleaned_df.groupby('country', observed=False)['location']
    .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
)

cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144961 non-null  category
 2   location                    144961 non-null  category
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             144961 non-null  float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   float64
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: category(2), float64(9), object(3)
memory usage: 15.1+ MB

In [182]:
cleaned_df['location'].eq('Unknown').sum()

0

In [183]:
cleaned_df[['apartment_rooms', 'apartment_bedrooms', 'apartment_bathrooms', 'apartment_total_area', 'price_in_USD']].corr()

,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
apartment_rooms,1.000000,0.124414,0.396015,0.001963,0.335083
apartment_bedrooms,0.124414,1.000000,0.048138,0.000766,0.017441
apartment_bathrooms,0.396015,0.048138,1.000000,0.016037,0.419841
apartment_total_area,0.001963,0.000766,0.016037,1.000000,0.002207
price_in_USD,0.335083,0.017441,0.419841,0.002207,1.000000

In [184]:
import re

def extract_property_type(title):
    title_lower = title.lower()
    if re.search(r'\b(apartment|flat)\b', title_lower):
        return 'apartment'
    elif re.search(r'\bstudio\b', title_lower):
        return 'studio'
    elif re.search(r'\bhouse\b', title_lower):
        return 'house'
    elif re.search(r'\bvilla\b', title_lower):
        return 'villa'
    elif re.search(r'\boffice\b', title_lower):
        return 'office'
    elif re.search(r'\bcommercial\b', title_lower):
        return 'commercial'
    elif re.search(r'\bplot|land\b', title_lower):
        return 'land'
    else:
        return 'other'

cleaned_df['property_type'] = cleaned_df['title'].apply(extract_property_type)

cleaned_df['property_type'].value_counts()

property_type
apartment    92156
house        31762
other        10075
villa        10030
land           938
Name: count, dtype: int64

In [185]:
cols = cleaned_df.columns.tolist()

cols.remove('property_type')

title_index = cols.index('title') + 1
cols.insert(title_index, 'property_type')

cleaned_df = cleaned_df[cols]

cleaned_df.head()

,title,property_type,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,apartment,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,2.0,2.0,2.0,120.0,110.0,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",villa,Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,4.0,NaN,NaN,500.0,480.0,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",apartment,Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,1.0,1.0,1.0,65.0,60.0,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",apartment,Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,1.0,1.0,1.0,89.0,40.0,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",apartment,Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,2.0,2.0,1.0,89.0,36.0,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [186]:
other_listings = cleaned_df[cleaned_df['property_type'] == 'other']
other_listings[['title', 'country', 'location', 'apartment_rooms', 'apartment_floor', 'apartment_bedrooms', 'apartment_bathrooms']]

,title,country,location,apartment_rooms,apartment_floor,apartment_bedrooms,apartment_bathrooms
10,"Penthouse 1 bedroom 96 m² in Kyrenia, Northern...",Northern Cyprus,"Kyrenia, Girne (Kyrenia) District, Northern Cy...",1.0,NaN,1.0,2.0
13,"Cottage 555 m² in Haranski sielski Saviet, Bel...",Belarus,"Minsk Region, Haranski sielski Saviet, Minsk D...",3.0,NaN,NaN,NaN
17,"Penthouse 3 bedrooms 150 m² in Alanya, Turkey",Turkey,"Mediterranean Region, Sekerhane Mahallesi, Ala...",3.0,NaN,3.0,2.0
96,"Multilevel apartments 3 bedrooms 95 m² in Bar,...",Montenegro,"Bar, Bar Municipality, Montenegro",3.0,5.0,3.0,2.0
111,"Penthouse 2 bedrooms 135 m² in Mahmutlar, Turkey",Turkey,"Mahmutlar, Mediterranean Region, Alanya, Turkey",2.0,NaN,2.0,2.0
...,...,...,...,...,...,...,...
147375,"Multilevel apartments 1 bedroom 50 m² in Bali,...",Indonesia,"Bali, Indonesia",1.0,NaN,1.0,1.0
147425,"Multilevel apartments 1 bedroom 45 m² in Bali,...",Indonesia,"Bali, Indonesia",1.0,NaN,1.0,1.0
147507,"Cottage 2 bathrooms 200 m² in Kissomlyo, Hungary",Hungary,"Kissomlyo, Transdanubia, Celldoemoelki jaras, ...",3.0,NaN,NaN,NaN
147516,"Penthouse 5 bedrooms 240 m² in Okurcalar, Turkey",Turkey,"Okurcalar, Mediterranean Region, Alanya, Turkey",5.0,NaN,5.0,3.0
147521,"Penthouse 5 bedrooms 191 m² in Avsallar, Turkey",Turkey,"Avsallar, Mediterranean Region, Alanya, Turkey",5.0,NaN,5.0,3.0

In [187]:
def refine_property_type(row):
    title = str(row['title']).lower()
    current_type = row['property_type']
    
    if current_type != 'other':
        return current_type
    
    if 'condo' in title or 'duplex' in title or 'penthouse' in title or 'apartment' in title or 'flat' in title:
        return 'apartment'
    elif 'mansion' in title or 'bungalow' in title or 'cottage' in title or 'house' in title or 'villa' in title:
        return 'house' if 'villa' not in title else 'villa'
    elif 'studio' in title:
        return 'studio'
    elif 'land' in title or 'plot' in title:
        return 'land'
    else:
        return 'other'

cleaned_df['property_type'] = cleaned_df.apply(refine_property_type, axis=1)

cleaned_df['property_type'].value_counts()

property_type
apartment    96340
house        37454
villa        10052
land           939
other          176
Name: count, dtype: int64

In [188]:
other_listings = cleaned_df[cleaned_df['property_type'] == 'other']
other_listings[['title', 'country', 'location', 'apartment_rooms', 'apartment_floor', 'apartment_bedrooms', 'apartment_bathrooms']]

,title,country,location,apartment_rooms,apartment_floor,apartment_bedrooms,apartment_bathrooms
4101,"Room 4 bedrooms 277 m² in Turkey, Turkey",Turkey,Turkey,4.0,NaN,4.0,4.0
5861,"Room 3 bedrooms 235 m² in Turkey, Turkey",Turkey,Turkey,3.0,NaN,3.0,3.0
6840,"Room 3 bedrooms in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",3.0,NaN,3.0,3.0
7047,"Room 1 bedroom 91 m² in Turkey, Turkey",Turkey,Turkey,1.0,NaN,1.0,1.0
15294,"Room 2 bedrooms 170 m² in Turkey, Turkey",Turkey,Turkey,2.0,NaN,2.0,2.0
...,...,...,...,...,...,...,...
140970,"54 m² in Suhobezvodnoe, Russia",Russia,"Suhobezvodnoe, Volga Federal District, Semenov...",3.0,NaN,NaN,NaN
140971,"76 m² in Sergach, Russia",Russia,"Sergach, Volga Federal District, Sergachsky Di...",3.0,NaN,NaN,NaN
141088,"169 m² in Nizhny Novgorod, Russia",Russia,"Volga Federal District, Nizhny Novgorod, Russia",3.0,NaN,NaN,NaN
144199,"Room 4 rooms 97 m² in Tashkent, Uzbekistan",Uzbekistan,"Tashkent, Uzbekistan",4.0,2.0,NaN,NaN
146534,"Castle 20 rooms 1 214 m² in Bela, Croatia",Croatia,"Bela, Grad Novi Marof, Varaždin County, Croatia",20.0,NaN,NaN,NaN