In [19]:
import pandas as pd

df = pd.read_csv("data/world_real_estate_data.csv")
df.head()
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB
None
       building_construction_year  building_total_floors  apartment_floor  \
count                64719.000000           68224.000000     54592.000000
mean                  1996.921754               8.575692         5.791709
std                    157.527635               8.356781         5.541368
min                      1.000000              -1.000000        -2.000000
25%                   2004.000000               2.000000         2.000000
50%                   2021.000000               5.000000         4.000000
75%                   2024.000000              14.000000         8.000000
max                   2316.000000             124.000000       202.000000

       apartment_rooms  apartment_bedrooms  apartment_bathrooms  price_in_USD
count     74178.000000        36982.000000         55973.000000  1.449610e+05
mean          2.572097            2.289222             1.364229  4.121722e+05
std           1.319545           18.276913             0.745019  8.420984e+05
min          -1.000000           -1.000000             1.000000  0.000000e+00
25%           2.000000            1.000000             1.000000  1.054200e+05
50%           2.000000            2.000000             1.000000  1.902120e+05
75%           3.000000            3.000000             2.000000  3.989300e+05
max         124.000000         2009.000000            43.000000  3.060283e+07

In [20]:
df = pd.DataFrame(df)
df.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [21]:
cleaned_df = df.dropna(subset=['price_in_USD']).copy()

print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144831 non-null  object
 2   location                    144830 non-null  object
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             73611 non-null   float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        140255 non-null  object
 10  apartment_living_area       27192 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: float64(7), object(7)
memory usage: 16.6+ MB
None

In [22]:
cleaned_df["apartment_total_area"] = (
    cleaned_df["apartment_total_area"]
    .astype(str)
    .str.replace("m²", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.replace(r"\s+", "", regex=True)
    .str.strip()
)

In [23]:
cleaned_df["apartment_total_area"] = pd.to_numeric(cleaned_df["apartment_total_area"], errors="coerce")

cleaned_df["apartment_total_area"] = cleaned_df["apartment_total_area"].fillna(
    cleaned_df["apartment_total_area"].median()
)
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144831 non-null  object
 2   location                    144830 non-null  object
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             73611 non-null   float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: float64(8), object(6)
memory usage: 16.6+ MB
None

In [27]:
import re

def extract_rooms(title):

    match = re.search(r'(\d+)\s*(bedroom|room|br)', title, re.IGNORECASE)
    if match:
        return int(match.group(1))
    return None  

cleaned_df["apartment_rooms"] = cleaned_df['title'].apply(extract_rooms)
print(cleaned_df.info())
cleaned_df.head(15)

<class 'pandas.core.frame.DataFrame'>
Index: 144961 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       144961 non-null  object
 1   country                     144831 non-null  object
 2   location                    144830 non-null  object
 3   building_construction_year  64296 non-null   float64
 4   building_total_floors       67585 non-null   float64
 5   apartment_floor             54129 non-null   float64
 6   apartment_rooms             124108 non-null  float64
 7   apartment_bedrooms          36564 non-null   float64
 8   apartment_bathrooms         55788 non-null   float64
 9   apartment_total_area        144961 non-null  float64
 10  apartment_living_area       27192 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       144961 non-null  object
 13  url                         144961 non-null  object
dtypes: float64(8), object(6)
memory usage: 16.6+ MB
None

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,2.0,2.0,2.0,120.0,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,4.0,NaN,NaN,500.0,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,1.0,1.0,1.0,65.0,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,1.0,1.0,1.0,88.0,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,2.0,2.0,1.0,88.0,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...
5,"1 room apartment 28 m² in Batumi, Georgia",Georgia,"Abkhazia, Batumi, Georgia",2026.0,NaN,NaN,1.0,NaN,1.0,28.0,NaN,35622.0,https://realting.com/uploads/bigSlider/16f/406...,https://realting.com/property-for-sale/georgia...
6,"4 room apartment 245 m² in Yesiloez, Turkey",Turkey,"Yesiloez, Mediterranean Region, Alanya, Turkey",2007.0,2.0,3.0,4.0,4.0,4.0,245.0,245 m²,274415.0,https://realting.com/uploads/bigSlider/9c8/6f1...,https://realting.com/property-for-sale/turkey/...
7,"1 room studio apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,2.0,1.0,1.0,1.0,88.0,25 m²,44700.0,https://realting.com/uploads/bigSlider/b50/f4b...,https://realting.com/property-for-sale/thailan...
8,Apartment 1 bathroom 74 m² in Ratisevina-Susce...,Montenegro,"Ratisevina-Suscepan-Trebesin, Herceg Novi, Mon...",NaN,NaN,NaN,NaN,NaN,1.0,74.0,NaN,168881.0,https://realting.com/uploads/bigSlider/dd6/fa8...,https://realting.com/property-for-sale/montene...
9,"1 room apartment 50 m² in Becici, Montenegro",Montenegro,"Becici, Sveti Stefan, Budva Municipality, Mont...",NaN,16.0,12.0,1.0,1.0,1.0,50.0,NaN,254404.0,https://realting.com/uploads/bigSlider/820/d3f...,https://realting.com/property-for-sale/montene...
10,"Penthouse 1 bedroom 96 m² in Kyrenia, Northern...",Northern Cyprus,"Kyrenia, Girne (Kyrenia) District, Northern Cy...",2027.0,1.0,NaN,1.0,1.0,2.0,96.0,86 m²,199268.0,https://realting.com/uploads/bigSlider/025/e2c...,https://realting.com/property-for-sale/norther...
11,"Apartment 48 m² in Herceg Novi, Montenegro",Montenegro,"Herceg Novi, Montenegro",NaN,4.0,4.0,NaN,NaN,NaN,48.0,NaN,297706.0,https://realting.com/uploads/bigSlider/18c/290...,https://realting.com/property-for-sale/montene...
12,"5 room house 312 m² in Vilnius, Lithuania",Lithuania,"Vilnius County, Vilnius, Vilnius city municipa...",NaN,2.0,NaN,5.0,NaN,NaN,312.0,NaN,693045.0,https://realting.com/uploads/bigSlider/505/e19...,https://realting.com/property-for-sale/lithuan...
13,"Cottage 555 m² in Haranski sielski Saviet, Bel...",Belarus,"Minsk Region, Haranski sielski Saviet, Minsk D...",2017.0,3.0,NaN,NaN,NaN,NaN,555.0,NaN,295000.0,https://realting.com/uploads/bigSlider/1c6/9af...,https://realting.com/property-for-sale/belarus...
14,"1 room studio apartment 38 m² in UAE, UAE",UAE,UAE,2024.0,6.0,NaN,1.0,1.0,1.0,38.0,38 m²,97930.0,https://realting.com/uploads/bigSlider/6e3/0b5...,https://realting.com/property-for-sale/united-...