In [9]:
import pandas as pd

df = pd.read_csv("data/world_real_estate_data.csv")
df.head()
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB
None
       building_construction_year  building_total_floors  apartment_floor  \
count                64719.000000           68224.000000     54592.000000
mean                  1996.921754               8.575692         5.791709
std                    157.527635               8.356781         5.541368
min                      1.000000              -1.000000        -2.000000
25%                   2004.000000               2.000000         2.000000
50%                   2021.000000               5.000000         4.000000
75%                   2024.000000              14.000000         8.000000
max                   2316.000000             124.000000       202.000000

       apartment_rooms  apartment_bedrooms  apartment_bathrooms  price_in_USD
count     74178.000000        36982.000000         55973.000000  1.449610e+05
mean          2.572097            2.289222             1.364229  4.121722e+05
std           1.319545           18.276913             0.745019  8.420984e+05
min          -1.000000           -1.000000             1.000000  0.000000e+00
25%           2.000000            1.000000             1.000000  1.054200e+05
50%           2.000000            2.000000             1.000000  1.902120e+05
75%           3.000000            3.000000             2.000000  3.989300e+05
max         124.000000         2009.000000            43.000000  3.060283e+07